*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(100deg,  #16166f, #061048);
    color: #ffe625;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
header{
    font-size: 22px;
}
header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,
form button{
    padding: 8px;
    font-size: 25px;
    border:none;
    background: white;
}
form button{
    color: #16166f;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background-color: #16166f;
    color: #ffe625;
}