*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: block;
    max-width: 405px;
    padding: 28px 0 30px;
    margin: 137px auto;
    background: #ffffff;
    border-radius: 7px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

body {
    background: #3C87FF;
    color: black;
    font-family: "Poppins", sans-serif;
}

 form{
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form input,
form button{
    outline: none;
    padding: 10px;
    font-size: 25px;
    border: 1px solid #999;
    background: white;
    border-radius: 5px;
}

form button{
    color: #3C87FF;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form input:focus,
form input.active{
  border: 2px solid #3C87FF;
}

form button:hover{
    background: #3C87FF;
    color: #ffffff;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 90%;
    list-style: none;
}

.todo{    
    border: 1px solid #999;
    border-radius: 5px;
    margin: 8px;
    background: white;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}

.trash-btn,
.complete-btn{
    background: white;
    color: #3C87FF;
    border: none;
    padding: 16px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.complete-btn:hover{
    background: #3C87FF;
    color: white;
}

.trash-btn:hover{
    background: #3C87FF;
    color: white;
}

.todo-item{
    padding: 0px 8px;
}

.fa-trash,
.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(300px);
    opacity: 0;
}